# Day 9 Assignment - MySQL with Python

In [1]:
# !pip install mysql-connector-python

In [1]:
import mysql.connector as sql
import cred

In [2]:
cred.database

'planetarygoods'

In [3]:
conn = None

try:
    
    conn = sql.connect(
        host = "localhost",
        user = cred.user,
        password = cred.password,
        database = cred.database
    )
    
    
except sql.Error as err:
    
    if err.errno == sql.errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error with user name or password")
    elif err.errno == sql.errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
        
else:
    print("Connection created.\n")
    cursor = conn.cursor()
    
    query = "SELECT * FROM customers"
    cursor.execute(query)
    
    result = cursor.fetchall()
    
    for row in result:
        print(row)
        
finally:
    if conn and conn.is_connected():
        conn.close()
        print("\nConnection closed.")

Connection created.

(1, 'John', 'Doe', '1234567890', 'john.doe@example.com', '123 Main Street', 'New York City', 'NY', 'USA', datetime.date(2023, 1, 1))
(2, 'Jane', 'Smith', '0987654321', 'jane.smith@example.com', '456 Maple Avenue', 'Los Angeles', 'CA', 'USA', datetime.date(2023, 1, 2))
(3, 'Michael', 'Johnson', '9876543210', 'michael.johnson@example.com', '789 Oak Road', 'Chicago', 'IL', 'USA', datetime.date(2023, 1, 3))
(4, 'Emily', 'Williams', '2345678901', 'emily.williams@example.com', '321 Elm Lane', 'Houston', 'TX', 'USA', datetime.date(2023, 1, 4))
(5, 'Robert', 'Jones', '3456789012', 'robert.jones@example.com', '654 Birch Street', 'San Francisco', 'CA', 'USA', datetime.date(2023, 1, 5))
(6, 'Sophia', 'Brown', '4567890123', 'sophia.brown@example.com', '987 Cedar Avenue', 'Seattle', 'WA', 'USA', datetime.date(2023, 1, 6))
(7, 'William', 'Miller', '5678901234', 'william.miller@example.com', '789 Pine Boulevard', 'Miami', 'FL', 'USA', datetime.date(2023, 1, 7))
(8, 'Olivia', 'Davis', '6789012345', 'olivia.davis@example.com', '543 Willow Street', 'Boston', 'MA', 'USA', datetime.date(2023, 1, 8))
(9, 'James', 'Garcia', '7890123456', 'james.garcia@example.com', '876 Oakwood Drive', 'Dallas', 'TX', 'USA', datetime.date(2023, 1, 9))
(10, 'Ava', 'Rodriguez', '8901234567', 'ava.rodriguez@example.com', '321 Maplewood Lane', 'Phoenix', 'AZ', 'USA', datetime.date(2023, 1, 10))
(11, 'Alexander', 'Martinez', '9012345678', 'alexander.martinez@example.com', '654 Elmwood Road', 'San Diego', 'CA', 'USA', datetime.date(2023, 1, 11))
(12, 'Isabella', 'Hernandez', '0123456789', 'isabella.hernandez@example.com', '987 Birchwood Avenue', 'Philadelphia', 'PA', 'USA', datetime.date(2023, 1, 12))
(13, 'Ethan', 'Lopez', '1234509876', 'ethan.lopez@example.com', '123 Cedarwood Street', 'Austin', 'TX', 'USA', datetime.date(2023, 1, 13))
(14, 'Mia', 'Gonzalez', '2345610987', 'mia.gonzalez@example.com', '456 Willowwood Lane', 'Denver', 'CO', 'USA', datetime.date(2023, 1, 14))
(15, 'Daniel', 'Wilson', '3456129087', 'daniel.wilson@example.com', '789 Elmwood Drive', 'Washington D.C.', 'DC', 'USA', datetime.date(2023, 1, 15))
(16, 'Abigail', 'Anderson', '4561230987', 'abigail.anderson@example.com', '543 Pine Street', 'Atlanta', 'GA', 'USA', datetime.date(2023, 1, 16))
(17, 'Emily', 'Taylor', '5678912034', 'emily.taylor@example.com', '876 Cedarwood Road', 'Chicago', 'IL', 'USA', datetime.date(2023, 1, 17))
(18, 'Harper', 'Thomas', '6789123045', 'harper.thomas@example.com', '321 Oakwood Avenue', 'San Francisco', 'CA', 'USA', datetime.date(2023, 1, 18))
(19, 'Madison', 'Moore', '7891234506', 'madison.moore@example.com', '654 Maplewood Lane', 'New York City', 'NY', 'USA', datetime.date(2023, 1, 19))
(20, 'Scarlett', 'Jackson', '8912345670', 'scarlett.jackson@example.com', '987 Pine Street', 'Los Angeles', 'CA', 'USA', datetime.date(2023, 1, 20))
(21, 'NullAddress', 'Customer', '1000000000', 'nulladdress.customer@example.com', None, 'CityName', 'StateName', 'USA', datetime.date(2023, 2, 1))
(22, 'USCustomer', 'USLastName', '2000000000', 'uscustomer@example.com', 'US Address', 'US City', 'US State', 'USA', datetime.date(2023, 2, 2))
(23, 'CanadaCustomer', 'CanadaLastName', '3000000000', 'canadacustomer@example.com', 'Canada Address', 'Canada City', 'Canada State', 'Canada', datetime.date(2023, 2, 3))
(24, 'MexicoCustomer', 'MexicoLastName', '4000000000', 'mexicocustomer@example.com', 'Mexico Address', 'Mexico City', 'Mexico State', 'Mexico', datetime.date(2023, 2, 4))

Connection closed.

In [4]:
conn = None

try:
    
    conn = sql.connect(
        host = "localhost",
        user = cred.user,
        password = cred.password,
        database = cred.database
    )
    
    
except sql.Error as err:
    
    if err.errno == sql.errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error with user name or password")
    elif err.errno == sql.errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
        
else:
    print("Connection created.\n")
    cursor = conn.cursor()
    
    query = '''
        SELECT CustomerID, COUNT(OrderID) as NoOfOrders
        FROM orders
        GROUP BY CustomerID
        HAVING NoOfOrders > 2
    '''
    
    cursor.execute(query)
    
    result = cursor.fetchall()
    
    for row in result:
        print(row)
        
finally:
    if conn and conn.is_connected():
        conn.close()
        print("\nConnection closed.")

Connection created.

(1, 3)
(2, 3)
(3, 3)
(4, 3)
(5, 3)
(6, 3)
(7, 3)
(8, 3)
(9, 3)
(10, 3)

Connection closed.

In [5]:
conn = None

try:
    
    conn = sql.connect(
        host = "localhost",
        user = cred.user,
        password = cred.password,
        database = cred.database
    )
    
    
except sql.Error as err:
    
    if err.errno == sql.errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error with user name or password")
    elif err.errno == sql.errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
        
else:
    print("Connection created.\n")
    cursor = conn.cursor()
    
    no_of_orders = int(input("Enter no. of order to filter: "))
    
    query = f'''
        SELECT CustomerID, COUNT(OrderID) as NoOfOrders
        FROM orders
        GROUP BY CustomerID
        HAVING NoOfOrders >= {no_of_orders}
    '''
    
    cursor.execute(query)
    
    result = cursor.fetchall()
    
    for row in result:
        print(row)
        
finally:
    if conn and conn.is_connected():
        conn.close()
        print("\nConnection closed.")

Connection created.

Enter no. of order to filter: 3
(1, 3)
(2, 3)
(3, 3)
(4, 3)
(5, 3)
(6, 3)
(7, 3)
(8, 3)
(9, 3)
(10, 3)

Connection closed.

### Inserting the data

In [10]:
conn = None

try:
    
    conn = sql.connect(
        host = "localhost",
        user = cred.user,
        password = cred.password,
        database = cred.database
    )
    
    
except sql.Error as err:
    
    if err.errno == sql.errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error with user name or password")
    elif err.errno == sql.errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
        
else:
    print("Connection created.\n")
    cursor = conn.cursor()
    
   
    data = ("Lavkush", "Singh", 999999999, "luvkush@example.com", "211 Caroline Enclave", 
            "San Francisco", "London", "USA", "2024-01-01")    
    query = f'''
        INSERT INTO customers (FirstName,LastName, ContactNumber,Email,Address,City,State,Country,RegistrationDate)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)      
    '''
    
    cursor.execute(query,data)
    conn.commit()
    
    print("\nData inserted to table successfully!\n")
    query = f'''
        SELECT * FROM customers ORDER BY CustomerID DESC LIMIT 3   
    '''
    
    cursor.execute(query)
    result = cursor.fetchall()
    
    for row in result:
        print(row)
        
finally:
    if conn and conn.is_connected():
        conn.close()
        print("\nConnection closed.")

Connection created.


Data inserted to table successfully!

(26, 'Lavkush', 'Singh', '999999999', 'luvkush@example.com', '211 Caroline Enclave', 'San Francisco', 'London', 'USA', datetime.date(2024, 1, 1))
(25, 'Lavkush', 'Singh', '999999999', 'luvkush@example.com', '211 Caroline Enclave', 'San Francisco', 'London', 'USA', datetime.date(2024, 1, 1))
(24, 'MexicoCustomer', 'MexicoLastName', '4000000000', 'mexicocustomer@example.com', 'Mexico Address', 'Mexico City', 'Mexico State', 'Mexico', datetime.date(2023, 2, 4))

Connection closed.

In [14]:
conn = None

try:
    
    conn = sql.connect(
        host = "localhost",
        user = cred.user,
        password = cred.password,
        database = cred.database
    )
    
    
except sql.Error as err:
    
    if err.errno == sql.errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error with user name or password")
    elif err.errno == sql.errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
        
else:
    print("Connection created.\n")
    cursor = conn.cursor()
    
   
    data = [
                ("Ankush", "Singh", 999999999, "ankush@example.com", "211 Caroline Enclave", 
                "San Francisco", "London", "USA", "2024-02-01"),
                ("Hari", "Yadav", 999999999, "hari@example.com", "235 Caroline Enclave", 
                "San Francisco", "London", "USA", "2024-02-01"),
                ("Shyam", "Yadav", 999999999, "shyam@example.com", "233 Caroline Enclave", 
                "San Francisco", "London", "USA", "2024-03-01")
    ]
    
    query = f'''
        INSERT INTO customers (FirstName,LastName, ContactNumber,Email,Address,City,State,Country,RegistrationDate)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)      
    '''
    
    cursor.executemany(query,data)
    conn.commit()
    
    print("\nData inserted to table successfully!\n")
    query = f'''
        SELECT * FROM customers ORDER BY CustomerID DESC LIMIT 3   
    '''
    
    cursor.execute(query)
    result = cursor.fetchall()
    
    for row in result:
        print(row)
        
finally:
    if conn and conn.is_connected():
        conn.close()
        print("\nConnection closed.")

Connection created.


Data inserted to table successfully!

(29, 'Shyam', 'Yadav', '999999999', 'shyam@example.com', '233 Caroline Enclave', 'San Francisco', 'London', 'USA', datetime.date(2024, 3, 1))
(28, 'Hari', 'Yadav', '999999999', 'hari@example.com', '235 Caroline Enclave', 'San Francisco', 'London', 'USA', datetime.date(2024, 2, 1))
(27, 'Ankush', 'Singh', '999999999', 'ankush@example.com', '211 Caroline Enclave', 'San Francisco', 'London', 'USA', datetime.date(2024, 2, 1))

Connection closed.

In [17]:
conn = None

try:
    
    conn = sql.connect(
        host = "localhost",
        user = cred.user,
        password = cred.password,
        database = cred.database
    )
    
    
except sql.Error as err:
    
    if err.errno == sql.errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error with user name or password")
    elif err.errno == sql.errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
        
else:
    print("Connection created.\n")
    cursor = conn.cursor()
    
    dbname = "DBfromPython"
    query = f'''
        CREATE DATABASE IF NOT EXISTS {dbname} 
    '''
    
    cursor.execute(query)
    conn.commit()
    
    print(f"\nDatabase '{dbname}' created successfully!\n")
    query = f'''
        SHOW DATABASES
    '''
    print("List of Databases present:\n")
    cursor.execute(query)
    result = cursor.fetchall()
    
    for row in result:
        print(row)
        
finally:
    if conn and conn.is_connected():
        conn.close()
        print("\nConnection closed.")

Connection created.


Database 'DBfromPython' created successfully!

List of Databases present:

('dbfrompython',)
('information_schema',)
('mavenmovies',)
('mysql',)
('newdatabase',)
('performance_schema',)
('planetarygoods',)
('quantum_tutors',)
('retailer_txn_project',)
('sakila',)
('sql_practice',)
('sys',)
('world',)

Connection closed.